* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#navbar, #aboutme {
	font-family: Ibarra Real Nova, sans-serif;
	font-size: 1.4rem;
}

#projects {
	font-family: open sans, sans-serif;
	font-size: 1.3rem;
}

#project2 {
	background-color: #e317cb;
}